*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 90%;
  
  margin: 100px auto;
}
.app-dark{
  background-color: black;
  color: #fff;
}
.app-dark .navbar{
  background-color: #444;
}
.app-dark .navbar .shopping .shopping-icon{
  color: #fff;
}
.app-dark .header{
  background-color: #444;
}
.app-dark .products .product{
  background-color: #333;
}
.app-dark .products .product button{
  background-color: #222;
}
.app-dark .footer-content{
  background-color: #444;
}
.app-dark .cart{
  height: 100%;
}